<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>

    </header>
    <section>
        <ul>
            <li>{{ book.isbn }}</li>
            <li>{{ book.title }}</li>
            <li>{{ book.author }}</li>
            <li>{{ book.publisher }}</li>
            <li>{{ book.mean_score }}</li>
            <li>{{ book.year_of_publication }}</li>
            <li>{{ book.add_date }}</li>
        </ul>
    </section>
    <footer>

    </footer>
</body>
</html>